<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="titulo">Tarjeta de Credito</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <app-tarjeta></app-tarjeta>
        </div>
        <div class="col-lg-6">
            <app-listar-tarjetas></app-listar-tarjetas>
        </div>
    </div>
</div>